* {
  font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

:root {
  --fc-today-bg-color: inherit !important;
}

.fc .fc-timegrid-slot {
  height: 3em;
}

.container{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.calendar{
  padding: 1%;
}

.timegrid{
  padding: 1%;
  flex: 1;
}

.list{
  padding: 1%;
}